@model  FormsGeneratorWebApplication.Models.FormItemModel

@{
    var index = ViewBag.index;
    var bbb =false;

    
    
}

@*<div class="ui-accordion-header">
        <div class="form-item">
            <h3 class="ui-header-height">Radio Button</h3>
        </div>
    </div>*@

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title pn-tl-font">
            <span class="caret"> </span>
          @Html.Label(Model.question, new { @class = "control-label label" })
        </h3>
    </div>
    <div class="panel-body">
        @Html.HiddenFor(m => m.question, new { Name = "FormItemIList[" + index + "].question" })
  
        @Html.HiddenFor(m => m.postion, new { Name = "FormItemIList[" + index + "].postion" })
        @Html.HiddenFor(m => m.type, new { Name = "FormItemIList[" + index + "].type" })
        @Html.HiddenFor(m => m.id, new { Name = "FormItemIList[" + index + "].id" })
        @for (var i = 0; i < Model.options.Count; ++i)
        {
            <div class="checkboxes form-group">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="radio">
                        <label>
                            @Html.HiddenFor(m => m.options[i].option, new { Name = "FormItemIList[" + index + "].options[" + i + "].option", @class = "form-control radio-btn-input-width" })
                            @Html.RadioButtonFor(m => m.selectedOption, "" + @i, new { Name = "FormItemIList[" + index + "].selectedOption", @class = "radio-btn-value" }) 
                            @Html.DisplayFor(m => m.options[i].option, new { @class = "control-label label label-default col-lg-2" })
                        </label>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
