@model  FormsGeneratorWebApplication.Models.FormItemModel

@{
    var index = ViewBag.index;
}

@*<div class="ui-accordion-header">
    <div class="form-item">
        <h3>
            @Html.HiddenFor(m => m.question, new { Name = "[" + index + "].question" })
            @Html.Label(Model.question + "?")
        </h3>
    </div>
</div>*@


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title pn-tl-font">
            <span class="caret"></span>
            @Html.HiddenFor(m => m.question, new { Name = "FormItemIList[" + index + "].question" })
            @Html.Label(Model.question, new { @class = "control-label label" })
        </h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="inputFormName" class="col-lg-1 control-label label label-default">Answer : </label>
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.options, new { Name = "FormItemIList[" + index + "].options", @class = "form-control Answer-inputWidthHeight", Value = "" })
            </div>
        </div>
        @*<h3>
            @Html.Display(m => Model.postion) 
        </h3>*@
        @Html.HiddenFor(m => m.id, new { Name = "FormItemIList[" + index + "].id" })
        @Html.HiddenFor(m => m.type, new { Name = "FormItemIList[" + index + "].type" })
    </div>
</div>

@*<div>
    <div class="form-horizontal">
        <fieldset>
            <div class="row">
                <div class="form-group">
                    <h3>
                        <label for="inputFormName" class="col-lg-2 control-label ">
                            @Html.HiddenFor(m => m.question, new { Name = "[" + index + "].question" })
                            @Html.Label(Model.question)
                        </label>
                    </h3>
                </div>
                <div class="form-group">
                    <label for="inputFormName" class="col-lg-2 control-label"></label>
                        <div class="col-xs-10">
                            @Html.TextAreaFor(m => m.value, new { Name = "[" + index + "].value", @class = "form-control Answer-inputWidthHeight" })
                        </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.postion, new { Name = "[" + index + "].postion" })
        </fieldset>
    </div>
</div>*@


