@model IEnumerable<FormsGeneratorWebApplication.Models.Question>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_FormsLayout.cshtml";

    //for testing purposes
    List<SelectListItem> list = new List<SelectListItem>();
    
    SelectListItem radiotype = new SelectListItem() { Text="Radio Type Question", Value="R"};
    SelectListItem checkBoxtype = new SelectListItem() { Text="CheckBox Type Question", Value="R"};
    list.Add(radiotype);
    list.Add(checkBoxtype);
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Question</h4>
        <hr />

        @foreach (var item in Model)
        {
            <div class="form-group">
                <div class="col-lg-10">
                    @item.QuestionText
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        @foreach (var option in @item.Options)
                        {
                            <div class="radio">
                                @Html.RadioButton("Option", option)
                                @option
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Forms")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
