@using FormsGeneratorWebApplication.Models;

@model FormsModel
@{
    ViewBag.Title = "Form";
    var items = Model.FormItemIList;
}
@*        public static int TYPE_TEXT_BOX = 0;
    public static int TYPE_TEXT_AREA = 1;
    public static int TYPE_TEXT_RADIO = 2;
    public static int TYPE_TEXT_CHECKBOX = 3; *@
<h2>Please fill out the folowing form:</h2>
@if (Model.EndDate < System.DateTime.Now) {
    Response.Redirect("~/Forms/OutOfTime");
}
else { 
    
    using (Html.BeginForm("Form", "Forms", FormMethod.Post, new { @class = "full", @id = "new-form" })) {

    for (var i = 0; i < items.Count(); ++i)
    {
        ViewBag.index = i;
        var currentItem = items.ElementAt(i);
        if (currentItem.type == 2)
        {
            @Html.Partial("~/Views/Forms/_RadioButtonPartial.cshtml",currentItem)
        }
        else if (currentItem.type == 1 )
        {
            @Html.Partial("~/Views/Forms/_TextAreaPartial.cshtml", currentItem)
        }
        else if (currentItem.type ==0 )
        {
            @Html.Partial("~/Views/Forms/_TextBoxPartial.cshtml", currentItem)
        }
        else if (currentItem.type == 3)
        {
            @Html.Partial("~/Views/Forms/_CheckBoxesPartial.cshtml", currentItem)
        }
    }
    <input type="button" id="form-submit" value="Submit" class="btn btn-success btn-lg" />
    }

}
    @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h1 >Question</h1>
                <hr />
                <p>
                    @Html.ActionLink("Add Auestion", "AddQuesitonForm")
                </p>
                <div class="form-group">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr class="col-lg-2 control-label">
                                <th><h4>@Html.DisplayNameFor(model => model.Question)</h4></th>
                            </tr>
                        </thead>
                        <tbody>

                        @foreach(var item in Model)
                        {
                            <tr class="col-lg-10 control-label">
                                <td>
                                    @Html.DisplayFor(model => item.Question)
                                </td>
                            </tr>

                            <tr class="col-lg-10 control-label">
                                <td>
                                    @Html.DisplayFor(model => item.Options)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Forms")
        </div>*@

    @Scripts.Render("~/Scripts/views/forms-view.js")
