@model  FormsGeneratorWebApplication.Models.CheckBoxesModel

@{
    var index = Convert.ToInt16((int)ViewBag.TextBoxCount);
}

<div class="ui-accordion-header">
    <div class="form-item">
        <h3>Text Box</h3>
    </div>
</div>
<div>
    <div class="form-group">
        <div class="form-item">
            @Html.LabelFor(m => m.question)
            @Html.TextBoxFor(m => m.question, new { Name = "[" + index + "].question" })
           
        </div>   
    </div>
    <div class="form-group">
        <div class="form-item">
            @Html.LabelFor(m => m.minCheckable)
            @Html.TextBoxFor(m => m.minCheckable, new { Name = "[" + index + "].value" })
        </div>
        <div class="form-item">
            @Html.LabelFor(m => m.maxCheckable)
            @Html.TextBoxFor(m => m.maxCheckable, new { Name = "[" + index + "].value" })
        </div>

    </div>

    @for (var i = 0; i < Model.checkboxes.Count; ++i )
    {
        <div class="checkboxes form-group">
            <div class="form-item">
               @Html.LabelFor(m =>m.checkboxes[i].answer)
               @Html.TextBoxFor(m =>m.checkboxes[i].answer)
            </div>
  
        </div>
    }   
 @Html.HiddenFor(m => m.postion, new { Name = "[" + index + "].postion" })
</div>
