@model  FormsGeneratorWebApplication.Models.FormItemModel

@{
    var index = Convert.ToInt16((int)ViewBag.TextBoxCount);
}

<div class="ui-accordion-header">
    <div class="form-item">
        <h3 class="ui-header-height">Text Area</h3>
    </div>
</div>

<div>
    <div class="form-horizontal">
        <fieldset>
            <div class="row">
                <div class="form-group">
                    <label for="inputFormName" class="col-lg-2 control-label label label-default">@Html.LabelFor(m => m.question)</label>
                    <div class="col-lg-10">
                        @Html.TextAreaFor(m => m.question, new { Name = "FormItemIList[" + index + "].question", @class = "form-control question-inputWidth" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFormName" class="col-lg-2 control-label label label-default">@Html.LabelFor(m => m.answer)</label>
                    <div class="col-lg-10">
                        @Html.TextAreaFor(m => m.answer, new { Name = "FormItemIList[" + index + "].options[0].option", @class = "form-control Answer-inputWidthHeight" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="button" class="btn btn-danger btn-remove-form-item">Remove</button>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.postion, new { Name = "FormItemIList[" + index + "].postion" })
            @Html.HiddenFor(m => m.type, new { Name = "FormItemIList[" + index + "].type" })
        </fieldset>
    </div>
</div>