@using FormsGeneratorWebApplication.Models;

@model FormsModel
@{
    ViewBag.Title = "Edit Form";
    var items = Model.FormItemIList;
}
@*  
    public static int TYPE_TEXT_BOX = 0;
    public static int TYPE_TEXT_AREA = 1;
    public static int TYPE_TEXT_RADIO = 2;
    public static int TYPE_TEXT_CHECKBOX = 3;
*@
<h2>Edit Form Informaiton</h2>


 @using (Html.BeginForm("Forms", "Forms", FormMethod.Post, new { @class = "full", @id = "new-form" }))
 {
     @Html.HiddenFor(m => m.adminGUID);
     
    <div class="form-group">
        <label class="col-lg-2 control-label">@Html.LabelFor(m => m.Name)</label>
        <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            <p class="text-warning">@Html.ValidationMessageFor(m => m.Name)</p>
        </div>
    </div>

     <div class="form-group">
         <label class="col-lg-2 control-label">@Html.LabelFor(m => m.Status)</label>
         @Html.CheckBoxFor(m => m.Status);
     </div>
     
    <div class="form-group">
        <label class="col-lg-2 control-label">@Html.LabelFor(m => m.StartDate)</label>
        <div class="col-lg-4">
            @Html.TextBoxFor(m => m.StartDate, null, new { @Value = DateTime.Now.ToString("MM/dd/yyyy HH:mm"), @class = "date form-control" })
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
        <label class="col-lg-1 control-label">@Html.LabelFor(m => m.EndDate)</label>
        <div class="col-lg-4">
            @Html.TextBoxFor(m => m.EndDate, null, new { @Value = DateTime.Now.AddDays(1).ToString("MM/dd/yyyy HH:mm"), @class = "date form-control" })
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>
    </div>

     for (var i = 0; i < items.Count(); ++i)
     {
         ViewBag.index = i;
         var currentItem = items.ElementAt(i);
         if (currentItem.type == 2)
         {
                @Html.Partial("~/Views/FormsAdmin/_RadioButtonPartial.cshtml", currentItem)
            }
            else if (currentItem.type == 1)
            {
                @Html.Partial("~/Views/FormsAdmin/_TextAreaPartial.cshtml", currentItem)
            }
            else if (currentItem.type == 0)
            {
                @Html.Partial("~/Views/FormsAdmin/_TextBoxPartial.cshtml", currentItem)
            }
            else if (currentItem.type == 3)
            {
                @Html.Partial("~/Views/FormsAdmin/_CheckBoxesPartial.cshtml", currentItem)
            }
        }



    @Html.HiddenFor(m => m.key);
     
    <button type="submit" class="btn btn-success btn-lg">Submit</button>
    }



@Scripts.Render("~/Scripts/views/forms-admin-view.js")
<script type="text/javascript">
    $(document).ready(function () {
        $.extend(form, {
            settings: {
                UrlAddTextBox: '@Url.Content("~/FormsAdmin/AddTextBox")',
                UrlAddTextArea: '@Url.Content("~/FormsAdmin/AddTextArea")',
                UrlAddRadioBtton: '@Url.Content("~/FormsAdmin/AddRadioButton")',
                UrlAddCheckBoxes: '@Url.Content("~/FormsAdmin/AddCheckBoxes")',
            }
        });
        window.form.init();
    })

</script>
