@{
    ViewBag.Title = "Index";

}

@*<h2>Welcome To The Admin Page</h2>
    @Html.ActionLink("Make a new Form", "MakeForm", "FormsAdmin")*@
@model FormsGeneratorWebApplication.Models.AdminFormModel

<div id="top-div">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>List of your Forms.</h3>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-8 col-lg-offset-1">
                @if (Model.forms.Count > 0)
                {
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr class="danger">
                                <th>Name</th>
                                <th>Copy</th>
                                <th>Edit</th>
                                <th>Statistics</th>
                                <th>Date Range</th>
                                <th>Status</th>
                                <th>Download</th>
                                <th>Reminder</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.forms.Count; ++i)
                            {
                                <tr class="active">
                                    <td>
                                        <a href="" class="btn btn-link btn-sm text-warning">@Model.forms[i].Name </a>
                                    </td>
                                    <td><input type="button" name="@Model.forms[i].adminGUID" class="btn btn-warning btn-sm" id="Admin-Form-Copy-Button-@i" value="Copy" /></td>
                                    <td><input type="button" name="@Model.forms[i].adminGUID" class="btn btn-warning btn-edit btn-sm" id="Admin-Form-Edit-Button-@i" value="Edit" /></td>
                                    <td><input type="button" name="@Model.forms[i].adminGUID"  class="btn btn-warning btn-sm btn-stats" id="Admin-Form-Statistics-Button-@i" value="Statistics" /></td>
                                    <td>
                                        @*@Html.TextBoxFor(m => m.forms[i].StartDate, null, new { @class = "date" })
                                            @Html.TextBoxFor(m => m.forms[i].EndDate, null, new { @class = "date" })*@

                                        <label class="text-warning">@Html.DisplayFor(m => m.forms[i].StartDate) - @Html.DisplayFor(m => m.forms[i].EndDate)</label>
                                    </td>
                                    <td>
                                        @if (Model.forms[i].Status)
                                        {
                                            <label>Enabled</label>
                                        }
                                        else
                                        {  <label>Disabled</label>
                                        }
                                    </td>
                                    <td><input type="button" value="Download" name="@Model.forms[i].adminGUID" class="btn btn-warning btn-sm btn-download" id="Admin-Form-Download-Button-@i" /></td>
                                    <td><input type="button" value="Reminder" name="@Model.forms[i].adminGUID" class="btn btn-warning btn-sm btn-reminder" id="Admin-Form-Reminder-Button-@i" /></td>
                                    <td><label>@Model.completed[i] / @Model.total[i]</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div>You have no forms created yet.</div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-1">
                @Html.ActionLink("Create A New Form", "MakeForm", "FormsAdmin", new { @class = "btn btn-info btn-lg" })
                <div class="btn-group">
                    <a href="#" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-list-alt span-space"></span> Create form template</a>
                    <a href="#" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu btn btn-block">
                        <li>@Html.ActionLink("True or False Template", "Template?type=0&numberOfSubElements=1", "FormsAdmin")</li>
                        <li>@Html.ActionLink("TextBox Template", "MakeForm", "FormsAdmin")</li>
                        <li>@Html.ActionLink("TextArea Template", "MakeForm", "FormsAdmin")</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
@Scripts.Render("~/Scripts/views/forms-admin-index.js")
<script type="text/javascript">
    $(document).ready(function () {
        $.extend(form, {
            settings: {
                UrlDownload: '@Url.Content("~/FormsAdmin/DownloadAnalytic")',
                UrlEdit: '@Url.Content("~/FormsAdmin/EditForm")',
                UrlStats: '@Url.Content("~/FormsAdmin/Analytic")',
                UrlReminder: '@Url.Content("~/FormsAdmin/reminder")'
            }
        });
        window.form.init();
    })

</script>