
@{
    ViewBag.Title = "MakeForm";
}

<h2>MakeForm</h2>

@model  FormsGeneratorWebApplication.Models.FormsModel


@using (Html.BeginForm("Index", "FormsAdmin", FormMethod.Post, new { @class = "full", @id = "new-form" }))
@Html.AntiForgeryToken()
    <fieldset>
        <h3>Form Title</h3>
        <div class="from-group">
            <div class="form-item">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m =>m.Name)
                @Html.ValidationMessageFor(m =>m.Name)
            </div>
        </div>

        <div class="form-group">
            <form class="form-item">
                @Html.LabelFor(m=> m.StartDate)
                @Html.TextBoxFor(m=> m.StartDate,  null, new {@class ="date"})
                @Html.ValidationMessageFor(m => m.StartDate)
            </form>
            <form class="form-item">
                @Html.LabelFor(m => m.EndDate)
                @Html.TextBoxFor(m => m.EndDate)
                @Html.ValidationMessageFor(m => m.EndDate)
            </form>
        </div>

    </fieldset>