@using FormsGeneratorWebApplication.Models;
@{
    ViewBag.Title = "MakeForm";
    ViewBag.TextBoxCount = '0';
}

<h2>MakeForm</h2>

@model  FormsGeneratorWebApplication.Models.FormsModel


@using (Html.BeginForm("Index", "FormsAdmin", FormMethod.Post, new { @class = "full", @id = "new-form" })) { 
@Html.AntiForgeryToken()
               
              @Html.Partial("~/Views/FormsAdmin/_TextAreaPartial.cshtml", new TextAreaModel())
    <fieldset>
        <h3>Form Title</h3>
        <div class="from-group">
            <div class="form-item">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m =>m.Name)
                @Html.ValidationMessageFor(m =>m.Name)
            </div>
        </div>

        <div class="form-group">
            <form class="form-item">
                @Html.LabelFor(m=> m.StartDate)
                @Html.TextBoxFor(m=> m.StartDate,  null, new {@class ="date"})
                @Html.ValidationMessageFor(m => m.StartDate)
            </form>
            <form class="form-item">
                @Html.LabelFor(m => m.EndDate)
                @Html.TextBoxFor(m => m.EndDate)
                @Html.ValidationMessageFor(m => m.EndDate)
            </form>
        </div>

        <div id="item-zone" > </div>
        <div class="form-group">
            <div class="form-item">
                <label>Type</label>
                <select class="form-selection-type">
                    <option value='@Url.Content("~/FormsAdmin/AddTextBox")'>Text Box</option>
                    <option value='@Url.Content("~/FormsAdmin/AddTextArea")'>Text Area</option>
                    <option value='@Url.Content("~/FormsAdmin/AddRadioButton")'>Radio Button</option>
                    <option value='@Url.Content("~/FormsAdmin/AddCheckBoxes")'>Check Box</option>
                </select>
            </div>
  
            <div class="form-item">
                <label>Count</label>
                <input type="text" value="1" class="form-selection-count" />
            </div>
        </div>
        <div class="form-group">            
            <div class="form-item">
                <input type="button" value="Add Form Item" class="btn btn-add-form-item" />
            </div>
        </div>
    </fieldset>
}   
@Scripts.Render("~/Scripts/views/forms-admin-view.js")
<script type="text/javascript">
    $(document).ready(function () {
        $.extend(form, {
            settings: {
                UrlAddTextBox:'@Url.Content("~/FormsAdmin/AddTextBox")',
                UrlAddTextArea:'@Url.Content("~/FormsAdmin/AddTextArea")',
                UrlAddTextArea:'@Url.Content("~/FormsAdmin/AddRadioButton")',
                UrlAddTextArea:'@Url.Content("~/FormsAdmin/AddCheckBoxes")',
            }
        });
        window.form.init();
    })

</script>