@using FormsGeneratorWebApplication.Models;
@{
    ViewBag.Title = "MakeForm";
    ViewBag.TextBoxCount = '0';
}


@model  FormsGeneratorWebApplication.Models.FormsModel


@using (Html.BeginForm("MakeForm", "FormsAdmin", FormMethod.Post, new { @class = "full", @id = "new-form" })) {
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <fieldset>
            <legend>MakeForm</legend>
            @Html.HiddenFor(m => m.Status, new { @Value = true })
            <div class="form-group">
                <label class="col-lg-2 control-label">@Html.LabelFor(m => m.Name)</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
                    <p class="text-warning">@Html.ValidationMessageFor(m => m.Name)</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">@Html.LabelFor(m => m.StartDate)</label>
                <div class="col-lg-4">
                    @Html.TextBoxFor(m => m.StartDate, null, new { @Value = DateTime.Now.ToString("MM/dd/yyyy HH:mm"), @class = "date form-control" })
                    @Html.ValidationMessageFor(m => m.StartDate)
                </div>
                <label class="col-lg-1 control-label">@Html.LabelFor(m => m.EndDate)</label>
                <div class="col-lg-4">
                    @Html.TextBoxFor(m => m.EndDate, null, new { @Value = DateTime.Now.AddDays(1).ToString("MM/dd/yyyy HH:mm"), @class = "date form-control" })
                    @Html.ValidationMessageFor(m => m.EndDate)
                </div>
            </div>

            @*<div class="form-group">
                <label class="col-lg-2 control-label">@Html.LabelFor(m => m.EndDate)</label>
                <div class="col-lg-10">
                    @Html.TextBoxFor(m => m.EndDate, null, new { @Value = DateTime.Now.AddDays(1).ToString("MM/dd/yyyy HH:mm"), @class = "date form-control" })
                    @Html.ValidationMessageFor(m => m.EndDate)
                </div>
            </div>*@

            @*<div class="form-group">
                <label class="col-lg-2 control-label"></label>
                <div class=" col-lg-8">
                    <div id="item-zone">
                       
                    </div>
                </div>
            </div>*@

            <div class="form-group">
                <label class="col-lg-2 control-label"></label>
                <div class=" col-lg-8">
                    <div id="item-zone">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Type</label>
                <div class="col-lg-4">
                    <select class="form-control form-selection-type" id="select">
                        <option value='@Url.Content("~/FormsAdmin/AddTextBox")'>Text Box</option>
                        <option value='@Url.Content("~/FormsAdmin/AddTextArea")'>Text Area</option>
                        <option value='@Url.Content("~/FormsAdmin/AddRadioButton")'>Radio Button</option>
                        <option value='@Url.Content("~/FormsAdmin/AddCheckBoxes")'>Check Box</option>
                    </select>
                </div>
                <label class="col-lg-1 control-label sub-elements" hidden>Number of Options:</label>
                <div class="col-lg-4">
                    <input type="number" class="form-control number-Of-sub-elements sub-elements" value="-1" min="1">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label ">Count</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control form-selection-count" value="1" min="1">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="button" class="btn btn-primary btn-lg btn-add-form-item"><span class="glyphicon glyphicon-plus span-space" aria-hidden="true"></span>Add FormItem</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-8">
                    <button type="submit" class="btn btn-success btn-lg">Next</button>
                </div>
            </div>
        </fieldset>
    </div>
    <div id="test" hidden></div>
}

@Scripts.Render("~/Scripts/views/forms-admin-view.js")
<script type="text/javascript">
    $(document).ready(function () {
        $.extend(form, {
            settings: {
                UrlAddTextBox: '@Url.Content("~/FormsAdmin/AddTextBox")',
                UrlAddTextArea: '@Url.Content("~/FormsAdmin/AddTextArea")',
                UrlAddRadioBtton: '@Url.Content("~/FormsAdmin/AddRadioButton")',
                UrlAddCheckBoxes: '@Url.Content("~/FormsAdmin/AddCheckBoxes")',
            }
        });
        window.form.init();
    })

</script>
